{% load static %}

{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{% static 'css/register_styles.css' %}" rel="stylesheet">
</head>
<body>
	<div class="split left">
		<div class="centered">
			<div id="middle">
				<img src="{% static 'images/regist_illust.png' %}" alt="Logo">
			</div>
		</div>
	</div>
	  
	<div class="split right" id="kanan">
		<img src="{% static 'images/teman_covid_logo.png' %}" alt="Logo">
		<hr>
		<div class="lefted">
			<h1>Get Started.</h1>
				<form method="POST">
					{% csrf_token %}
					<p>Username*</p>
					{{ register_form.username }}
					<div id="helptext"><p>Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</p></div>
					
					<p>Email*</p>
					{{ register_form.email }}

					<p>Password*</p>
					{{ register_form.password1 }}
					<div id="helptext2">
						<p>• Your password can’t be too similar to your other personal information.</p>
						<p>• Your password must contain at least 8 characters.</p>
						<p>• Your password can’t be a commonly used password.</p>
						<p>• Your password can’t be entirely numeric.</p>
					</div>

					<p>Password Confirmation*</p>
					{{ register_form.password2 }}
					<div id="helptext"><p>Enter the same password as before, for verification.</p></div>

					<div id="covid"><p>Apakah anda pernah terkena COVID-19? </p></div>
					{{ role_form.roles }}
					<input class="btn btn-primary" type="submit" value="Daftar"></input>
				</form>
				<br>
				<div id="login"><p>Sudah punya akun? <a href="/register/login"> Masuk</a>.</p></div>
				<div id="copyright"><p>Copyright © 2021 PBP D07 University of Indonesia</p></div>
		</div>
	</div>
</body>
</html>
