{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WashYourLyrics</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!--External CSS for navbar and footer-->
    <link rel="stylesheet" href="{% static 'css/homepage_styles.css' %}">
    <!--External CSS for output page-->
    <link rel="stylesheet" href="{% static 'css/lyrics_out_style.css' %}">
</head>

<body>
    {% include "navbar_new.html" %}
    <div class="container">
        <header>
            <p class="title">Wash Your Lyrics</p>
            <p class="caption">
                Tahukah kamu bahwa diperlukan waktu selama minimal 20 detik untuk mencuci tangan hingga bersih?
                <br>Kalau
                begitu, mari mencuci tangan sambil menyanyikan lagu kesukaanmu!
            <p class="orisinal">lihat versi orisinal <a href="https://washyourlyrics.com/"
                    target="_blank">washyourlyrics</a> dan poster
                <a href="https://www.rawpixel.com/image/2298805/free-illustration-vector-hands-covid-wash"
                    target="_blank">rawpixel</a>
            </p>
        </header>

        <main>
            <img class="animate" src="{% static 'assets/illustration.png' %}" width="250px"
                alt="Yuk, masukkan lirik atau kutipan kerenmu!">
            <h1 class="subtitle">Wall Of Fame</h1>
            {% if lyrics %}
            {% for lyric in lyrics %}
            <div class="row">
                <div class="col-sm">
                    <div class="image-step">
                        <img src="{% static 'assets/01.jpg' %}" width="225px" alt="[apply hand soap]">
                    </div>
                    <div class="desc-step">
                        <p class="desc">1 - {{ lyric.Baris1 }}</p>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="image-step">
                        <img src="{% static 'assets/02.jpg' %}" width="225px" alt="[wet your hand with tap water]">
                    </div>
                    <div class="desc-step">
                        <p class="desc">2 - {{ lyric.Baris2 }}</p>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="image-step">
                        <img src="{% static 'assets/03.jpg' %}" width="225px" alt="[wash your palm]">
                    </div>
                    <div class="desc-step">
                        <p class="desc">3 - {{ lyric.Baris3 }}</p>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="image-step">
                        <img src="{% static 'assets/04.jpg' %}" width="225px"
                            alt="[wash your back hand and sides of your fingers]">
                    </div>
                    <div class="desc-step">
                        <p class="desc">4 - {{ lyric.Baris4 }}</p>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="image-step">
                        <img src="{% static 'assets/05.jpg' %}" width="225px" alt="[wash your fingers]">
                    </div>
                    <div class="desc-step">
                        <p class="desc">5 - {{ lyric.Baris5 }}</p>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="image-step">
                        <img src="{% static 'assets/06.jpg' %}" width="225px" alt="[wash your thumbs]">
                    </div>
                    <div class="desc-step">
                        <p class="desc">6 - {{ lyric.Baris6 }}</p>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="image-step">
                        <img src="{% static 'assets/07.jpg' %}" width="225px" alt="[wash your nails]">
                    </div>
                    <div class="desc-step">
                        <p class="desc">7 - {{ lyric.Baris7 }}</p>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="image-step">
                        <img src="{% static 'assets/08.jpg' %}" width="225px" alt="[rinse with water]">
                    </div>
                    <div class="desc-step">
                        <p class="desc">8 - {{ lyric.Baris8 }}</p>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="image-step">
                        <img src="{% static 'assets/09.jpg' %}" width="225px" alt="[your hands are clean!]">
                    </div>
                    <div class="desc-step">
                        <p class="desc">9 - {{ lyric.Baris9 }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
            <a href="{% url 'inputLyrics' %}">
                <button type="button" id="recreate">Buat lagi!</button>
            </a>
        </main>
    </div>
    <img id="warna-btn" src="{% static 'assets/bucket.png' %}" width="100px" alt="Ganti warna kejutan!">
    {% include "footer_new.html" %}
    <script src="{% static 'js/random_color_script.js' %}"></script>
</body>

</html>