body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
}
.bg-dark {
    background-color: #8DB580 !important;
    /* height: 30px; */
}

.user-signup-btn {
    font-family: 'Inter', sans-serif !important;
    background-color: #4C6245 !important;
    border-radius: 10px;
    width: 100%;
    min-width: 160px;
    border-color: #4C6245 !important;
}

.user-signup-btn:hover {
    background-color: #3E5038 !important;
    border-color: #3E5038 !important;
}

.project-header {
    padding-top: 10px;
}

.content-container {
    border-radius: 30px !important;
    margin-top: -40px !important;
}

.message-h2 {
    font-weight: bolder;
}


.footer-container {
    margin-top: 50px;
    height: 75px;
    color: #FFFFFF;
    background-color: #8DB580;
}

.footer-text {
    align-items: center;
    padding: 20px 0px;
}

.nav-item-mod {
    padding: 0px 30px;
    margin: 0px 0px;
}

.nav-item-mod:hover {
    border-radius: 10px;
    overflow: hidden;
    background-color: #789b6c;
}