@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;900&display=swap');

*{
    color: #262626;
    font-family: Inter, sans-serif;
    text-align: center;
}
.title{
    font-weight: 900;
    font-size: 62px;
    margin-top: 20px;
}
.caption{
    font-weight: 500;
}
.orisinal{
    color: #8DB580;
    font-style: italic;
    font-size: 12px;
}
a{
    color: #4C6245;
    font-weight: 600;
    text-decoration: underline;
}
.animate{
    position: relative;
    margin-bottom: 20px;
    z-index: -1;
    animation: move 10s ease infinite;
}
@keyframes move{
    0%{
        left: -50px;
    }
    50%{
        left: 100px;
    }
    100%{
        left: -50px;
    }
}
.desc{
    font-weight: 500;
}
.errorlist{
    display: none;
}
label{
    color: #8DB580;
    font-weight: 600;
}
input{
    border-color: #8DB580;
    border-radius: 10px;
    width: 500px;
}
input:focus, input:hover{
    border-color: #262626;
    background-color: #C2CFB2;
}
.pop-up{
    background:#8db580e7;
    color: #FFFFFF;
    border-radius: 10px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(-3px 5px 4px rgba(0, 0, 0, 0.25));
}
.notice p{
    margin: 0px;
}
.notice{
    padding: 20px;
}
.submit-btn{
    color: #FFFFFF;
    background: #4C6245;
    font-weight: 900;
    border: none;
    border-radius: 30px;
    padding: 10px 0px;
    width:180px;
    filter: drop-shadow(-3px 5px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 20px;
}
.submit-btn:focus, .submit-btn:hover{
    transition: 0.25s ease;
    filter: none;
}
/*  Smaller devices than landscapes phones */
@media (max-width: 576px) {
    input{
        width: 300px;
    }
}