body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

.feedback-btn {
    margin-bottom: 100px;
}

.modals {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    height: auto;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .5);
}

.modals-content {
    background-color: #F4F4F4;
    border-radius: 20px;
    margin: 20% auto;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .2), 0 7px 20px 0 rgba(0, 0, 0, .17);
    animation-name: modalopen;
    animation-duration: 1s;
}

.modals-header {
    text-align: left;
    font-weight: bold;
    padding: 15px;
    border-bottom: 1px solid #000000;
}

.modals-header .title {
    margin-top: 10px;
    font-weight: bold;
}

.modals-body {
    padding: 10px 20px;
}

.closebtn {
    color: #CCC;
    float: right;
    font-size: 30px;
}

.closebtn:hover, .closebtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalopen {
    from {opacity: 0}
    to {opacity: 1}
}
