{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}
<h1>{{ user.username }}'s Profile</h1>
<br>
<div class="d-flex justify-content-center flex-wrap">
  <div class="card" id="card-user" style="width: 18rem; margin-top: 15px;">
      <img src="{% static 'images/profile.jpg' %}" class="card-img-top" alt="photo" style="margin-top: 15px">
      <div class="card-body">
        <h5 class="card-title">{{ user.username }}</h5>
        <p class="card-text text-secondary">{{ user.email }}</p>
        <p class="card-text">Member since {{ user.date_joined }}</p>
        <a href="edit" class="btn btn-secondary">Edit</a>
      </div>
  </div>
  <div>
  <div class="card" id="about-user" style="width: 26rem; margin-left: 10px; margin-top: 15px;">
    <div class="card-body">
      <h4 class="card-title">About Me</h4>
      <p class="card-text text-secondary">{{ user.profile.bio }}</p>
      
    </div>
  </div>
  <div class="card"style="width: 26rem; margin-left: 10px; margin-top: 15px;">
    <div class="card-body">
      <h4 class="card-title">Personal Info</h4>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Nama Lengkap: {{ user.first_name }} {{ user.last_name }}</li>
        <li class="list-group-item">Hobi: {{ user.profile.hobi }}</li>
        <li class="list-group-item">Instagram: <a href="https://www.instagram.com/{{ user.profile.insta }}" style="text-decoration: none;">@{{ user.profile.insta }}</a></li>
        <li class="list-group-item">Alamat: {{ user.profile.alamat }}</li>
      </ul>
      <br>
      <div id = 'encourage'>
      <button onclick="loadDoc()" class="btn btn-secondary">Encourage!</button>
      </div>
      </div>
  </div>
  </div>
</div>

{% else %}
<h4>You're not allowed here (and you know why)</h4>
<h5 class="text-secondary">Quick tip: Sign Up / Login first</h5>
<div class="d-flex justify-content-center flex-wrap">
  <img src="{% static 'images/login_illust.png' %}" alt="Logo" style="width: 50%">
</div>

{% endif %}
<script>
  function loadDoc() {
  const xhttp = new XMLHttpRequest();
  xhttp.onload = function() {
    document.getElementById("encourage").innerHTML =
    this.responseText;
  }
  xhttp.open("GET", "{% static 'txt/test.txt' %}");
  xhttp.send();
}
</script>
{% endblock %}