{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Comments</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'comment_pengalaman/css/comment_style.css' %}"/>
        <link rel="stylesheet" href="{% static 'comment_pengalaman/css/navbar_and_footer_styles.css' %}"/>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    </head>
    <style>
    </style>
    {% include 'navbar_new.html' %}
    <body>
        {% block content %}
        <h1 class="head">Share Your Stories!</h1>
        <div class="wrapper">
            <div class="box">
                <h1 class="message-title">{{ story.title }}</h1>
                <div class="content">
                    <div class="name"> by {{ story.by }}</div>
                    <div class="body">{{ story.experience }}</div>
                </div>
            </div>
        </div>
        <div id="myDIV">
            <div class="comment-body">
                {% for comment in commentz %}
                <div class="wrapper-comment">
                    <div class="box">
                        <div class="content">
                            <div class="name">{{ comment.oleh }}</div>
                            <div class="body">{{ comment.body }}</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        
        <div class="wrapper-input">
            {% if user.is_authenticated %}
            <button onclick="myFunction()" class="button-toggle" id="toggle"> Hide Comments</button>
            <div class="form-group">
                <form id="post-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Add comment" id="floatingTextarea">
                </form>
            </div>
            {% else %}
                <h2 style="color:#4C6245;text-align:center;user-select: none;font-weight: 1000;">Login to add comments</h2>
            {% endif %}
        </div>
        {% endblock %}    
    </body>
    {% include 'comment_footer_new.html' %}
    {% if user.is_authenticated %}
    <script type="text/javascript">
        $(document).on('submit', '#post-form', function(e){
            e.preventDefault();
        
            $.ajax({
                type:'POST',
                url: '',
                data:{
                    body:$('#body').val(),
                    oleh:$('#oleh').val(),
                    csrfmiddlewaretoken:$('input[body=csrfmiddlewaretoken]').val(),
                },
                success: function (json){
                    document.getElementById("post-form").reset();
                    console.log(json)
                    $(".comment-body").append('<div class="wrapper-comment">'+
                        '<div class="box-new">'+
                            '<div class="content">' +
                                '<div class="name">' +  json.oleh+ '</div>' +
                                '<div class="body">' +json.body+ '</div>' +
                            '</div>' +
                        '</div>' +
                    '</div>' 
                    )
                }
            });
        });
        function myFunction() {
        var x = document.getElementById("myDIV");
        var y = document.getElementById("toggle");
        if (x.style.display === "none") {
        x.style.display = "block";
        y.innerHTML = "Hide Comments";
        } else {
        x.style.display = "none";
        y.innerHTML = "Show Comments";
        }
        }
        
    </script>
    {% endif %}
</html>