{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'sharepengalaman/css/write_story.css' %}">
    <link rel="stylesheet" href="{% static 'sharepengalaman/css/navbar.css' %}">
</head>
{% include "navbar.html" %}   
<body>
    <div class="title">
        <img src="{% static 'img/writeyourstories.png' %}" alt="">
    </div>
    <form id="exp_form" class="frm" action="" method= "POST">
        {% csrf_token %}
        <label id="label"><strong>TITLE</strong></label><br>
        <input placeholder="The title of my story" type="text" id="title" name="title" required><br>
        {% csrf_token %}
        <label id="label"><strong>BY</strong></label><br>
        <input placeholder="My Identity (can be anonymous)" type="text" id="from_input" name="by" required><br>
        {% csrf_token %}
        <label id="label"><strong>STORY</strong></label><br>
        <textarea id="textarea" name="experience" spellcheck="false" placeholder="My Story..." required></textarea><br>
        {% csrf_token %}
        <label id="label"><strong>Proove you are a human: 1+1</strong></label><br>
        <input type="text" name="slug" id="slug">
        <P><input class="share-btn" type="submit" value="Share"></P>
        <script>
            document.getElementById('textarea').addEventListener('keydown', function(e) {
            if (e.key == 'Tab') {
                e.preventDefault();
                var start = this.selectionStart;
                var end = this.selectionEnd;
                this.value = this.value.substring(0, start) +
                "\t" + this.value.substring(end);
                this.selectionStart =
                this.selectionEnd = start + 1;
            }
        });
        </script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    </form>
    <div id="show_hide_wrapper" class="show-hide">
        <button id="hide">Hide walking people</button>
        <button style="display: none;" id="show">Show walking people</button>
    </div>
    <img
    src="{% static 'gif/di45LjEbT.gif' %}"
      class="walking"
      id="walk"
    />
    {% include 'footer.html' %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
    $("#hide").click(function(){
        $.ajax({url: "", success: function(){
        var a = document.getElementById("show_hide_wrapper");
        var b = document.getElementById('show');
        var c = document.getElementById('hide');
        $("#walk").toggle('slow');
        b.style.display = "inline";
        c.style.display = "none";
        a.style.textAlign = "center";
        }});
    });
    });
    $(document).ready(function(){
    $("#show").click(function(){
        $.ajax({url: "", success: function(){
        var b = document.getElementById('show')
        var c = document.getElementById('hide')
        $('#walk').toggle("slow");
        b.style.display = "none";
        c.style.display = "inline";
        }});
    });
    });
    </script>
</body>
</html>