{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'list_card.css' %}">
    
  </head>
<body>

  <div>{% include 'navbar_new.html' %}</div>
  <h2 id='judul'>
    Daftar Obat dan Suplemen yang Dapat Membantu Kesembuhan COVID
  </h2>
<ol>
{% for obat in obats %}
<li class='obat'>
  {{ obat.name }}
  <br>
<div class='display-obat'>
  <br>
  <img id='image' src={{ obat.image.url }} width="400" height="400" >
  <p id='info'style="color:black; margin-top: 10px;">{{ obat.info }}</p>
  </div>
  <br>
  </li>
{% endfor %}
</ol>

</body>
</html>